<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="Duke" class="com.antonov.javalearning.spring.walls.springidol.Juggler">
        <constructor-arg value="20"/> 
    </bean>
    
    <bean id="Marta" class="com.antonov.javalearning.spring.walls.springidol.PoeticJuggler">
        <constructor-arg value="20"/> 
        <constructor-arg ref="Sonnet29"/>
        <!--        <constructor-arg>
            <bean class="com.antonov.javalearning.spring.walls.springidol.Sonnet29"/>
        </constructor-arg>-->
    </bean>
    
    <bean id="Sonnet29" class="com.antonov.javalearning.spring.walls.springidol.Sonnet29"/>
    
    <bean id="theStage" class="com.antonov.javalearning.spring.walls.springidol.Stage"
          factory-method="getInstance"/>
    
    <bean id="ticket" class="com.antonov.javalearning.spring.walls.springidol.Stage"
          scope="prototype"/>
    
    <bean id="auditorium" class="com.antonov.javalearning.spring.walls.springidol.Auditorium"
          init-method="turnOnLights" destroy-method="turnOffLights"/>
    
    <bean id="kenny" class="com.antonov.javalearning.spring.walls.springidol.Instrumentalist">
        <property name="song" value="Jingle Bells HARD ROCK"/>
        <property name="age" value="30"/>
        <!--<property name="instrument" ref="piano"/>-->
        <!--Если Кенни хочет иметь свой личный саксофон, ибо гигиена. Объявление внутренего бина-->
        <property name="instrument">
            <bean class="com.antonov.javalearning.spring.walls.springidol.Saxophone"/>
        </property>
    </bean>
    
    <bean id="Hank" class="com.antonov.javalearning.spring.walls.springidol.OneManBand">
        <property name="instruments">
<!--            <list>
                <ref bean="saxophone"/>
                <ref bean="piano"/>
            </list>
            <set>
                <ref bean="saxophone"/>
                <ref bean="piano"/>
            </set>-->
            <map>
                <entry key="SAX" value-ref="saxophone" />
                <entry key="PIANO" value-ref="piano" />
            </map>
<!--            <props>
                <prop key="GUITAR">STRUM STRUM STRUM</prop>
                <prop key="CYMBAL">CRASH CRASH CRASH</prop>
                <prop key="HARMONICA">HUM HUM HUM</prop>
            </props>-->
        </property>
        <property name="someNonNullProperty"><null/></property>
    </bean>
    
    <bean id="Karl" class="com.antonov.javalearning.spring.walls.springidol.Instrumentalist">
        <!--<property name="song" value="#{kenny.song}"/>-->
        <!--Вызов любого метоа из другого бина с проверкой на null-->
        <!--<property name="song" value="#{kenny.getSong()?.toUpperCase()}"/>-->
        <!--Вызов публичной константы-->
        <!--<property name="song" value="#{T(java.lang.Math).PI}"/>-->
                <!--Вызов статического метода-->
        <property name="song" value="#{T(java.lang.Math).random()}"/>
        
        <property name="instrument" ref="piano"/>
    </bean>
    
    <bean id="saxophone" class="com.antonov.javalearning.spring.walls.springidol.Saxophone"/>
    <bean id="piano" class="com.antonov.javalearning.spring.walls.springidol.Piano"/>
</beans>
