<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="Duke" class="com.antonov.javalearning.spring.walls.springidol.Juggler">
        <constructor-arg value="20"/> 
    </bean>
    
    <bean id="Marta" class="com.antonov.javalearning.spring.walls.springidol.PoeticJuggler">
        <constructor-arg value="20"/> 
        <constructor-arg ref="Sonnet29"/>
    </bean>
    
    <bean id="Sonnet29" class="com.antonov.javalearning.spring.walls.springidol.Sonnet29"/>
    
    <bean id="theStage" class="com.antonov.javalearning.spring.walls.springidol.Stage"
          factory-method="getInstance"/>
    
    <bean id="ticket" class="com.antonov.javalearning.spring.walls.springidol.Stage"
          scope="prototype"/>
    
    <bean id="auditorium" class="com.antonov.javalearning.spring.walls.springidol.Auditorium"
    init-method="turnOnLights" destroy-method="turnOffLights"/>
    
    <bean id="Kenny" class="com.antonov.javalearning.spring.walls.springidol.Instrumentalist">
       <property name="song" value="Jingle Bells"/>
       <property name="age" value="30"/>
       <property name="instrument" ref="saxophone"/>
    </bean>
    
    <bean id="saxophone" class="com.antonov.javalearning.spring.walls.springidol.Saxophone"/>
    
</beans>
